services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: darkolab
      POSTGRES_PASSWORD: A18d4add@/@/
      POSTGRES_DB: darkolab
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
